<%- include('../partials/header') %>

<form id="new-form" action="/flights" method="POST">
    <label>Airline:</label>
    <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
    </select><br>
    <label>Airport:</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DEN">DEN</option>
        <option value="DFW">DFW</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select><br>
    <label>Flight Number:</label>
    <input type="number" min="10" max="9999" name="flightNo"><br>
    <label>Time of Departure:</label>
    <% let date = new Date(); %>  
    <% date.setMinutes(date.getMinutes() - date.getTimezoneOffset()); %> <!-- Considered throwing a party when I got this to work -->
    <% date.setFullYear(date.getFullYear() + 1); %>
    <% const dateString = date.toISOString().slice(0,16); %>
    <input type="datetime-local" name="departs" value="<%= dateString %>"><br>
    <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>